body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
  }
  
  .card {
    background-color: #fff;
    border-radius: 1.5rem;
  }
  
  input:focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  }
  
  footer a:hover {
    text-decoration: none;
    color: #e2e2e2;
    background-color: #08376b;
  }
  